results/*
resources/*
!resources/README.md
!resources/pig_filtering_reference.sh
logs/**
.snakemake
.snakemake/**
config/*
!config/config.yaml
!config/metadata_example.txt
!config/README.md
!config/seq_test_metadata.tsv
!config/metadata_rename_example.txt